@import '../../styles/partials/breakpoints';

.social--media{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 2rem;
        padding-right: 1rem;
    }

}

.footer--container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer--credits{
    p,a{
        color: white;
        font-size: 10px;
        text-decoration: none;
        text-align: center;
    }

   
}

