@import '../../styles/partials/breakpoints';

*{
    overflow-x: hidden;
    overflow-y: hidden;

   
}

body{
    background-image: url('../../images/IMG_8196.jpg');
    width: 100vw;
    position:fixed;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: 40% 45%;
    
   
}
.home--container{ 
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.hamburger--menu{
    display: flex;
    height: 20vh;
    min-width: 100vw;     
}

.hamburger--icon{
    position:fixed;
    flex: 1;
    top: 1px;
    right: -100px;
    padding: 1rem;
    border-radius: 8px;
    color: white;
}


.hero--section{
    @include small{
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 13rem 0 0 -2rem;
    }
    @include medium{
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 13rem 0 0 4rem;
    }
    @include large{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        padding:9rem 0 0; 
        box-sizing: border-box;
    }
}

.footer--section{
    margin-top: auto;
    @include small{
        display: flex;
        justify-content: center;
        padding-right: 4rem;
    }

    @include large{
        display: flex;
        justify-content: center;
        margin-right: 15rem;
    }
}

