@import '../../styles/partials/breakpoints';

*{
    overflow-x: hidden;
    overflow-y: hidden;

   
}

body{
    background-image: url('../../images/IMG_8196.jpg');
    width: 100vw;
    position:fixed;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-position: 40% 45%;
    
   
}
.home--container{ 
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.hamburger--menu{
    display: flex;
    height: 20vh;
    min-width: 100vw;     
}

.hamburger--icon{
    position:fixed;
    flex: 1;
    top: 1px;
    right: -100px;
    padding: 1rem;
    border-radius: 8px;
    color: white;
}






.logo{
    display: flex;
    padding: 20px;


}