@font-face {
  font-family: 'Poiret One';
  src: url('../../assets/fonts/typolino.regular.ttf') format('truetype');
  font-weight: 600;
  font-style:normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('../../assets/fonts/typolino.regular.ttf')  format('truetype');
  font-style: normal;
}

@font-face{
  font-family: 'Poiret One';
  src: url('../../assets/fonts/typolino.regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
  
@font-face{
  font-family: 'Michroma';
  src: url('../../assets/fonts/Michroma-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Majesti Banner';
  src: url('../../assets/fonts/Majesti-Banner-Heavy.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Majesti Banner Book';
  src: url('../../assets/fonts/Majesti-Banner-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}