@import '../../styles/partials/breakpoints';
@import'../../styles/partials/fonts';


.hero--container{
    
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 14.5rem;

        
    
    h1{
        font-family: 'Majesti Banner Book'!important;
        font-size: clamp(2rem, 14vw, 10rem);
        text-align: center;
        color: white;
    
        @include medium{
            font-size: clamp(2rem, 14vw, 10rem);
        }
        
        @include large{
            font-size: clamp(2rem, 15vw, 10rem);
            
        }
        
    }
}


.button-container{
    display: flex;
    position:relative;
    flex-direction: column;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    

    button{
        width: 20rem;
        margin-bottom: 1rem;
        border-radius: 0;
        background: rgba(238, 171, 15, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.4px);
        -webkit-backdrop-filter: blur(4.4px);
        border: 1px solid rgba(108, 100, 191, 0.2);
        color: white;
        font-family:'Poiret One';
        font-size: 1.4rem;
    }
}


