@import '../../styles/partials/breakpoints';
@import '../../styles/partials/fonts';

.modal--container{

    @include large{
        display: none;
    }
}
.modal--body{
    background: rgba(5, 191, 201, 0.998);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    -webkit-backdrop-filter: blur(12.2px);
    border: 1px solid rgba(57, 110, 212, 0.3);
    box-shadow:-2px 0 5px rgba(0, 0, 0, 0.5); 
    
}

.modal--figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
    img{
        width: 6rem;
        padding: 0 1rem 2rem 0;
    }

    
}
.modal--figure-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1rem;
    img{
        width: 6rem;
        padding: 0 1rem 2rem 0;
    }

    
}